<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Today</a>
                    <a class="nav-link" href="/worklist">Work</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="box" id="heading">
        <h1><%=today%></h1>
    </div>
    <div class="box">
            <ul>
                <% tasks.forEach((task) => { %>
                    <div class="item">
                        <li>
                            <input type="checkbox" id="<%task%>">
                            <label for="<%task%>"> <%=task%> </label>
                        </li>
                    </div>                    
                <%})%>
            </ul>
            <form action="/submit" method="post">
                <input id="input" type="text" placeholder="Add New Task" name="newTask">
                <button type="submit">Add</button>
            </form>
    </div>

    <footer>My footer</footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>